@import url(http://weloveiconfonts.com/api/?family=brandico|fontawesome);

@import url('https://fonts.googleapis.com/css?family=Dosis|Poppins|Varela+Round|Rajdhani|Varela+Round');

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/*variables*/
:root {
  --dark-brown: #3a1212;
  --light-BG: #e7d7d8;
}

/*global*/
.sec-header {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: var(--dark-brown);
  font-size: 2.5em;
  margin-top: 0.5em;
}

body {
  margin: 0px;
  font-family: 'Varela Round', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

/*header*/
header {
  background-color: #cca7a9;
  border-bottom: 2px solid #79393c;
  position: relative;
}

.hamburger {
  display: none;
}

nav {
  max-width: 80%;
  max-height: 6em;
  margin: auto;
}

nav ul {
  margin: 0px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav li {
  list-style: none;
  text-transform: uppercase;
  padding: 1.5em 0;
  overflow-y: hidden;
  font: 20px 'Dosis', sans-serif;
}

nav li.logo {
  padding: 0.5em 0;
}

nav li#current {
  position: relative;
}

nav li#current:after {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #79393c;
  background-color: #79393c;
  top: calc(100% - 6px);
  left: calc(50% - 6px);
  content: '';
  transform: rotate(45deg);
}

nav li a {
  color: #fffefe;
}

#nav-mobile {
  display: none;
}

/*cover*/
#cover {
  width: 100%;
  min-height: 25em;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position-x: -3em;
  color: var(--dark-brown);
  position: relative;
}

#welcome {
  font-size: 5em;
  text-align: center;
  margin: auto;
  padding-top: 1em;
  mix-blend-mode: multiply;
}

#my-name {
  font-size: 6em;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  mix-blend-mode: multiply;
}

.social {
  display: flex;
  justify-content: center;
  padding: 0px;
  text-align: center;
  mix-blend-mode: multiply;
}

.social li {
  list-style: none;
  font-size: 25px;
  flex-basis: 5em;
}

/*specialization article*/
#specialization {
  position: relative;
  padding: 4em 0 0 0;
}

#specialization::after, #specialization::before {
  content: '';
  width: 50%;
  height: 4em;
  position: absolute;
  background-color: var(--light-BG);
  top: -3em;
}

#specialization:before {
  transform: skewY(5deg);
  left: 0;
}

#specialization h2.sec-header {
  margin-top: 0;
}

#specialization:after {
  transform: skewY(-5deg);
  right: 0;
}

#specialization-list {
  display: flex;
  width: 75%;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}

#specialization-list img {
  width: 5em;
}

#specialization-list div {
  min-width: 13.5em;
  width: 13.5em;
  padding: 0.5em;
  margin: 1em;
  border-radius: 6px;
  background-color: #fdf9f9;
  box-shadow: 0 2rem 4rem #ded8d8;
}

#specialization-list h3 {
  color: var(--dark-brown);
  margin-top: 0.5em;
}

.specialization-details {
  color: #5a3737;
  border-top: 2px solid #e0d5d5;
  padding-top: 0.5em;
}

/*workspace*/
#workspace {
  background: var(--light-BG);
  color: var(--dark-brown);
  margin-top: 3em;
  padding: 0.1em 3em 3em 3em;
  background-image: url(../images/workspace-corner.svg), url(../images/workspace-elements.svg), url(../images/workspace-left.svg) ;
  background-repeat: no-repeat;
  background-position: calc(100% + 4.5em) top, 100% bottom, left bottom;
  font-size: 1.1em;
}

#workspace-lists {
  display: flex;
  margin-left: 2.5em;
}

.workspace-list {
  margin-left: 3.1em;
  list-style: none;
}

.workspace-list li {
  font-size: 1.5em;
}

#list01 {
  width: 3em;
  margin: 0;
  text-align: center;
  padding: 0;
}

#list02 {
  margin: 0;
  padding: 0;
}

/*reviews*/
#reviews {
  position: relative;
  padding: 0;
  margin-bottom: 5em;
}

#clients-list {
  display: flex;
  width: 75%;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}

.client-card {
  width: 15em;
  height: 20em;
  padding: 0.5em 0 0 0;
  margin: 1em;
  border-radius: 15px;
  position: relative;
}

.client-card-content {
  height: 15em;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

#clients-list img {
  height: 15em;/*to be deleted*/
}

.client-title-wrapper {
  position: absolute;
  width: 100%;
  top: 15em;
}

.client-title {
  position: relative;
  padding: 0.2em 0.5em;
  background-color: var(--dark-brown);
  color: #fffefe;
  border-radius: 0em 0.4em 0.4em 0;
  top: -2em;
  width: 85%;
}

.client-title::before, .client-title::after {
  position: absolute;
  content: '';
  border-radius: 1em;
}

.client-title::before {
  background-color: inherit;
  top: 0em;
  left: -1.3em;
  height: 125%;
  width: 2.5em;
  z-index: -10;
}

.client-title::after {
  height: 20%;
  width: 2em;
  background-color: #0404047d;
  top: 3.4em;
  left: -0.8em;
  z-index: -9;
}

.client-title h3, .client-title p{
  margin: 0;
  text-align: left;
}

.client-title h3 {
  font-size: 1.5em;
}

.client-review {
  height: 10em;
  box-sizing: border-box;
  position: absolute;
  top: 14em;
  border: 2px solid var(--dark-brown);
  border-radius: 15px;
  padding: 1em 0.5em 0.5em 0.5em;
  background-color: var(--light-BG);
  z-index: -5;
}

.client-review p {
  margin: 2em 0 0 0;
}

/*newsletters*/
#newsletters {
  text-align: center;
  background-image: url(../images/newsletter.jpg);
  min-height: 15em;
  background-size: cover;
}

#newsletters h2{
  margin-bottom: 0em;
  padding-top: 1em;
}

#newsletters p {
  padding-bottom: 0;
  margin-bottom: 1em;
  padding-top: 0;
  padding-bottom: 2em;
}

#newsletters button {
  text-transform: uppercase;
  background-color: var(--dark-brown);
  color: #fdf9f9;
  border-radius: 4px;
  border: none;
  padding: 0.5em 2em;
}

#newsletters input {
  min-width: 20em;
  padding: 0.5em;
  border-radius: 4px;
  border: none;
  background-color: #845151;
  color: var(--dark-brown);
  position: relative;
  background-image: url(../images/mail.svg);
  background-position: 0.5em;
  background-repeat: no-repeat;
  background-size: 7%;
  padding-left: 2.5em;
}

#newsletters-email::placeholder {
  color: #fdf9f9;
}

/*footer*/
footer {
  background-color: #cca7a9;
  background-image: url(../images/footer-right.svg), url(../images/footer.svg);
  background-repeat: no-repeat;
  background-size: 15%, 12%;
  background-position: left bottom, top right;
  border-top: 2px solid var(--dark-brown);
  position: relative;
}

footer::after {
  content: '';
  width: 15%;
  height: 67%;
  left: 42.5%;
  top: 0;
  position: absolute;
  background-color: var(--dark-brown);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}

footer li {
  list-style: none;
}

footer a:active,
footer a:checked,
footer a:visited {
  color: #fffefe;
}

#footer {
  display: flex;
  max-width: 60%;
  margin: auto;
  justify-content: space-between;
  border-bottom: 1px solid #1b0b0b;
  align-items: center;
}

.footer-col {
  padding: 0;
  min-width: 7em;
  z-index: 1000;
}

.footer-col ul {
  padding-left: 0;
}

.footer-col:last-of-type ul a {
  display: block;
  text-align: right;
}

#copyright {
  display: flex;
  max-width: 60%;
  margin: auto;
  justify-content: space-between;
}

#copyright ul {
  display: flex;
  padding: 0;
  margin: 0.75em;
  justify-content: space-between;
}

#copyright ul li {
  padding-left: 1em;
  color: var(--dark-brown);
}

#copyright p{
  font-size: 12px;
  color: #1b0b0b;
  margin: 16px;
}

#footer-logo {
  text-align: center;
}

/*responsive*/
@media only screen and (max-width: 1090px) {
  /*workspace*/
  #workspace-discreption {
    max-width: 30em;
  }
}

@media only screen and (max-width: 1000px) {

  /*global*/
  .sec-header {
    margin-bottom: 0;
  }
  /*specialist*/
  #specialization-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  #specialization-list div {
    margin: 2em;
  }

  /*workspace*/
  #workspace-discreption {
    max-width: 25em;
  }

  /*reviews*/
  #clients-list {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
  }

  .client-card {
    margin: 1em 3em 3em 3em;
  }
}

@media only screen and (max-width:950px) {

  /*workspace*/
  #workspace-discreption {
    max-width: 20em;
  }

}

@media only screen and (max-width: 860px) {
  /*reviews*/
  #clients-list {
    width: 90%;
  }
}

@media only screen and (max-width: 830px) {
  /*workspace*/
  #workspace {
    background-image: url(../images/workspace-corner.svg), url(../images/workspace-elements-20.svg), url(../images/workspace-left.svg);
    background-position: calc(100% + 4.5em) top, 100% calc(100% - 1.5em), left bottom;
  }
}

@media only screen and (max-width: 800px) {
  /*cover*/
  #cover {
    background-image: url(../images/cover-medium.jpg);
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
  }
}

@media only screen and (max-width: 724px) {

  /*header*/
  nav {
    max-width: 90%;
  }

  /*footer*/
  footer::after {
    height: 56%;
  }

  /*workspace*/
  #workspace {
    background-image: url(../images/workspace-corner.svg), url(../images/workspace-elements-20-nolines.svg), url(../images/workspace-left-60.svg);
  }

  #footer {
    max-width: 80%;
  }

  #copyright {
    flex-wrap: wrap;
    justify-content: center;
  }

  #copyright p {
    margin-bottom: 0;
  }

}

@media only screen and (max-width: 600px) {

  #welcome {
    font-size: 4em;
  }

  #my-name {
    font-size: 5em;
  }

  /*workspace*/
  #workspace {
    padding-left: 1.5em;
    background-image: url(../images/workspace-corner-70.svg), url(../images/workspace-elements-20-nolines.svg), url(../images/workspace-left-60.svg);
  }

  /*footer*/
  footer {
    background-size: 25%, 15%;
  }

  footer::after {
    width: 20%;
    left: 40%;
  }

  #copyright {
    max-width: 70%;
  }

}

@media only screen and (max-width: 500px) {
  /*cover*/
  #welcome {
    font-size: 3em;
    padding-top: 1.5em;
  }

  #my-name {
    font-size: 4em;
  }

  .social li {
    font-size: 20px;
  }
}

@media only screen and (max-width: 550px) {
  /*workspace*/
  #workspace {
    background-image: url(../images/workspace-corner-70.svg), url(../images/workspace-elements-20-modefied.svg), url(../images/workspace-left-60.svg);
  }
}

@media only screen and (max-width: 475px) {
  /*workspace*/
  #workspace {
    background-image: url(../images/workspace-corner-70.svg), url(../images/workspace-elements-mob.svg), url(../images/workspace-left-60.svg);
  }
  /*newsletter*/
  #newsletters input {
    min-width: 15em;
  }

  #newsletters button {
    padding: 0.5em 1em;
  }

}

@media only screen and (max-width: 450px) {
  /*header*/
  nav {
    margin: 0;
    max-width: 5em;
    overflow: hidden;
    order: 1;
    padding: 0 0 0 15px;
  }

  nav li {
    display: none;
  }

  .logo {
    display: block;
  }

  nav li.logo {
    padding: 0.2em 0 0 0;
  }

  nav li#current {
    border: none;
  }

  nav li#current:after {
    content: none;
  }

  #header-container {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  #nav-mobile {
    max-height: none;
    width: 100%;
    background-color: #3a1212c7;
    z-index: 100;
    margin: 0;
    max-width: none;
    position: absolute;

  }

  #nav-mobile ul {
    display: block;
  }

  #nav-mobile li {
    display: block;
    padding: 0.5em;
    border-bottom: 1px solid #3a1212;
  }

  #nav-mobile li:last-of-type {
    border-bottom: 0;
  }

  #nav-mobile li a {
    display: block;
    text-align: center;
    color: #fffefe;
  }

  /*hamburger button*/
  .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;

    /*position: absolute;
    left: calc(100% - 80px);
    top: 15px;*/
    order: 2;
  }

  .hamburger:hover {
    opacity: 0.7;
  }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: var(--dark-brown);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
  }

  .hamburger-inner::before {
    top: -10px;
  }

  .hamburger-inner::after {
    bottom: -10px;
  }

  /* Slider */
  .hamburger--slider .hamburger-inner {
    top: 2px;
  }

  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
  }

  .hamburger--slider .hamburger-inner::after {
    top: 20px;
  }

  .hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
  }

  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }

  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
  }

  /* Slider Reverse */
  .hamburger--slider-r .hamburger-inner {
    top: 2px;
  }

  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
  }

  .hamburger--slider-r .hamburger-inner::after {
    top: 20px;
  }

  .hamburger--slider-r.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(-45deg);
  }

  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0;
  }

  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg);
  }

  /*cover*/
  #cover {
    background-image: url(../images/cover-small.jpg);
    background-position-x: center;
    min-height: 20em;
  }

  /*newsletter*/
  #newsletters {
    min-height: 12em;
  }

  #newsletters h2 {
    font-size: 1.75em;
  }

  #newsletters p {
    margin-top: 0.1em;
    font-size: 0.9em;
  }

  /*footer*/
  footer {
    background-size: 35%, 40%;
  }

  footer::after {
    content: none;
  }

  #footer {
    display:  block;
  }

  .footer-col {
    text-align: center;
  }

  .footer-col ul {
    margin: 0.5em;
  }

  .footer-col:first-of-type ul {
    margin-top: 1.5em;
  }

  .footer-col:last-of-type ul {
    margin-bottom: 1.5em;
  }

  .footer-col:last-of-type ul a {
    text-align: center;
  }

  footer li {
    padding: 0.4em;
  }

  #copyright {
    max-width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  /*global*/
  .sec-header {
    font-size: 2em;
  }

  /*cover*/
  #welcome {
    font-size: 2.5em;
  }

  #my-name {
    font-size: 3em;
    font-weight: bold;
  }

  #cover {
    min-height: 20em;
  }

  /*workspace*/
  #workspace {
    padding: 0.1em 0.5em 2em 0.5em;
    text-align: center;
    background-position: calc(100% + 4.5em) top, 100% 100%, left bottom;
  }

  #workspace h2 {
    margin: 1.6em auto 0.5em auto;
  }

  #workspace-discreption {
    margin: auto;
  }

  #workspace-lists {
    text-align: left;
    margin-top: 0.5em;
    font-size: 0.9em;
  }

  /*specialization*/
  #specialization {
    padding-top: 2.5em;
  }

  /*newsletters*/
  #newsletters {
    padding-bottom: 0.5em;
  }

  #newsletters input {
    display: block;
    margin: auto;
  }

  #newsletters button {
    display: block;
    margin: 0.5em auto auto auto;
  }
}
